@import 'src/styles/variables.scss';

:global {
  .rc-md-editor {
    height: 100%;
    border: none;

    background: none;

    *:not(a) {
      background-color: rgb(31, 31, 31) !important;
      color: rgba(255, 255, 255, 0.85) !important;
    }

    a {
      color: $lightGreen;
    }
    & .table-list.wrap .list-item {
      background-color: $lightGreen !important;
    }
  }

  .section.sec-md.visible {
    border-right: 2px solid #757575;
  }
}

.Center {
  :global {
    .section.sec-html.visible {
      width: 60%;
      margin: 0 auto;
      flex: unset;
    }
  }
}

.Editing {
  height: 100%;
}
