@import "src/styles/variables";

:global {
  .ant-input {
    background-color: $background;

    &:focus,
    &:hover {
      border-color: $lightGreen !important;
    }
  }

  .ant-input-group-addon {
    background-color: $background;
  }
}
