.Container {
  display: flex;
  min-height: 100vh;
  background-color: rgb(31, 31, 31);

  &_Right {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_Editor {
      min-height: calc(100vh - 8.7rem);
    }
  }
}
