.Header {
  &_Button {
    font-size: 3rem;
  }
}

:global {
  .ant-page-header {
    position: sticky;
  }

  .ant-page-header-heading-title {
    font-family: Gluten;
  }

  .ant-page-header-heading-sub-title {
    font-weight: 300;
    font-family: Gluten;
  }
}
