.Header {
  &_Button {
    font-size: 3rem;
  }
}

:global {
  .ant-page-header {
    position: sticky;

    &-heading {
      height: 5.5rem;

      &-title {
        font-family: Gluten;
      }

      &-sub-title {
        font-weight: 300;
        font-family: Gluten;
      }
    }
  }
}
